.App{
  margin: 50px 50px;
}
.pages{
  margin: 50px 0px;
  display: flex;
  flex-direction: row;
}
.user{
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-column-gap: 100px;
  grid-row-gap: 30px;
}
